# Configuration locale Ansible de ce projet.
[defaults]
inventory = inventory.ini
host_key_checking = False
retry_files_enabled = False

# Les actions systeme sont executees avec sudo.
[privilege_escalation]
become = True
become_method = sudo
